<?xml version="1.0"?>
<launch>
    <arg name="camera_calib" value="$(find apc_vision)/config/camera_calib.yaml"/>

    <rosparam ns="sample_server_node" subst_value="True">$(find apc_vision)</rosparam>
    <rosparam ns="camera_calibration_node" command="load" file="$(find apc_vision)/config/offset.yaml"/>
    <rosparam param="apc_vision/config" subst_value="True">$(find apc_vision)/config/config.yaml</rosparam>
    <rosparam ns="camera_calibration_node" param="camera_calib" subst_value="True">$(arg camera_calib)</rosparam>
    <rosparam command="load" file="$(arg camera_calib)"/>
    <rosparam ns="camera_calibration_node" command="load" file="$(find apc_vision)/config/calib_poses.yaml"/>

    <include file="$(find softkinetic_launch)/launch/creative_senz3d.launch">
        <arg name="camera_name" value="camera_left"/>
        <!--<arg name="device_serial_number" value="K8VF0780347000071P"/>-->
        <arg name="device_serial_number" value="K8VF0780404000181V"/>
        <!--<arg name="confidence_threshold" value="100"/>-->
        <arg name="confidence_threshold" value="0"/>
        <arg name="rgb_resolution" value="WXGA_H"/>
    </include>

    <!--
    <node name="left_palm_camera_tf" pkg="tf" type="static_transform_publisher"
          args="-0.00141 0.11066 0.021467 0.0523598776 3.1415926535 -1.57079633 /arm_left_link_tool0 /camera_left_depth_optical_frame 100"/>
    -->
    <!--
    <node name="left_palm_camera_tf" pkg="tf" type="static_transform_publisher"
          args="-0.00141 0.11066 0.021467 0.013932 0.71415 0.699498 0.0222278 /arm_left_link_tool0 /camera_left_depth_optical_frame 100"/>
    -->
    <node name="left_palm_camera_tf" pkg="tf" type="static_transform_publisher"
          args="-0.0088927 0.089071 0.0127268 0.01310213 0.718851 0.694928 0.0124387 /arm_left_link_tool0 /camera_left_depth_optical_frame 100"/>
      <!--
   position:
      x: -8.8927993031216838e-03
      y: 8.9071536520051273e-02
      z: 1.2726852604377678e-02
   orientation:
      x: 1.3102138292621211e-02
      y: 7.1885174455519929e-01
      z: 6.9492862242775177e-01
      w: 1.2438370181609374e-02

   position:
      x: -9.8818902461967513e-03
      y: 1.0196938218344302e-01
      z: 4.8189578670457724e-03
   orientation:
      x: -5.6904115561266311e-01
      y: -5.9079428460915850e-01
      z: -2.7420862260985479e-01
      w: 5.0196006592015241e-01

   position:
      x: 2.4410258534282449e-02
      y: 1.3066418499416455e-01
      z: 2.1467602485319613e-02
   orientation:
      x: 1.3932860937938628e-02
      y: 7.1415220687987957e-01
      z: 6.9949869434987111e-01
      w: 2.2227851841943931e-02
    -->

    <node name="sample_server" pkg="apc_vision" type="sample_server_node" output="screen" cwd="node"/>
    <node name="process_server" pkg="apc_vision" type="process_server_node" output="screen" cwd="node"/>
</launch>
