<?xml version="1.0"?>
<launch>
    <arg name="camera_calib" value="$(find apc_vision)/config/camera_calib.yaml"/>

    <param name="apc_vision/config" value="$(find apc_vision)/config/config.yaml"/>
    <rosparam ns="camera_calibration_node" name="camera_calib" subst_value="True">$(arg camera_calib)</rosparam>
    <rosparam command="load" file="$(arg camera_calib)"/>
    <rosparam ns="camera_calibration_node" command="load" file="$(find apc_vision)/config/calib_poses.yaml"/>

    <include file="$(find softkinetic_launch)/launch/creative_senz3d.launch">
        <arg name="camera_name" value="camera_left"/>
        <!--<arg name="device_serial_number" value="K8VF0780347000071P"/>-->
        <arg name="device_serial_number" value="K8VF0780404000181V"/>
        <arg name="confidence_threshold" value="100"/>
        <arg name="rgb_resolution" value="WXGA_H"/>
    </include>

    <node name="left_palm_camera_tf" pkg="tf" type="static_transform_publisher"
          args="0.005 0.06935 -0.138 0.191986218 3.28121899 -0.13962634 /arm_left_link_7_t /camera_left_depth_optical_frame 100"/>

    <node name="sample_server" pkg="apc_vision" type="sample_server_node" output="screen" cwd="node"/>
    <node name="process_server" pkg="apc_vision" type="process_server_node" output="screen" cwd="node"/>
</launch>
